<?xml version="1.0" encoding="utf-8"?>
<manifest package="es.source.code"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <permission
        android:name="scos.permission.ACCESSSCOS"
        android:protectionLevel="dangerous"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SCOSEntry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainScreen"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.SCOSEntry"
            android:permission="scos.permission.ACCESSSCOS"
            >
            <intent-filter>
                <action android:name="scos.intent.action.SCOSMAIN"/>
                <category android:name="scos.intent.category.SCOSLAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContainerActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainScreen"
            >
        </activity>
        <activity
            android:name=".activity.FoodView"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainScreen"
            >
        </activity>

        <activity
            android:name=".activity.FoodOrderView"
            android:launchMode="singleTask"
            >
        </activity>
        <activity
            android:name=".activity.FoodDetailed"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.SCOSHelper"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainScreen"
            />
    </application>

</manifest>
